.header {
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.banner {
    height: calc(100vh - 100px);
    width: 100%;
    /*background-image: url("../../public/highway_bg.jpg");*/
    background-image: url("../../public/driving_bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    position: absolute;
    right: 0;
    width: 40%;
    max-width: 600px;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    width: 90%;
    height: 90%;
    background-color: rgb(255 255 255 / 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    position: absolute;
    right: 10px;
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
}

.services {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#book, #contact {
    border: 1px solid lightgreen;
    background-color: black;
    color: lightgreen;
    padding-top: 5px;
    padding-bottom: 5px;
}

#book:hover, #contact:hover {
    background-color: lightgreen;
    color: black;
}
